.jsl-wrapper {

  // Default variables

  @alphabet-index-w: 30px;
  @default-margin: 5px;

  a, a:hover {
    text-decoration: none;
  }

  font-family: "Book Antiqua";
  border: 1px solid #ccc;

  .jsl-search-box {
    border-bottom: 1px solid #ccc;

    //box-sizing: border-box;
    padding: 3px;

    input {
      display: block;
      padding: 0;
      border-width: 0;
      width: 85%;
      float: left;
      font-style: italic;
      &:focus {
        outline-width: 0px;
      }
    }

    .btn-clear {
      margin-left: 86%;
      font-size: small;
      text-align: center;
      border: 1px solid #ccc;
      cursor: pointer;
      border-radius: 4px;
      color: #666;

      &:hover {
        background-color: #E8E8E8;
      }

      &:active {
        -webkit-box-shadow: inset 0px 0px 5px 0px rgba(50, 50, 50, 0.45);
        -moz-box-shadow:    inset 0px 0px 5px 0px rgba(50, 50, 50, 0.45);
        box-shadow:         inset 0px 0px 5px 0px rgba(50, 50, 50, 0.45);
      }
    }

  }

  .jsl-content {
    width: 100%;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin: 0;
        padding: @default-margin;
        color: #666;
        border-bottom: 1px solid #ccc;
        cursor: pointer;

        &:last-child {
          border-bottom: none;
        }

        &:hover {
          color: #000;
          background-color: #ddd;
        }
      }
    }

    .jsl-alphabet-index {
      width: @alphabet-index-w;
      text-align: center;
      float: left;
      border-right: 1px solid #ccc;
    }

    .jsl-main {
      margin-left: 30px;
      overflow: auto;

      ul {
        li {

          &.separator {
            padding: 1px 0 1px @default-margin;
            font-weight: bold;
            font-size: small;
            background-color: #E8E8E8;
            color: darkblue;
            cursor: default;
          }

        }
      }
    }
  }

}